cache/
env/
.env
.mypy_cache/
.hypothesis
.pytest_cache
__pycache__/
eth_portfolio.egg-info/
build/**/*.py
build/**/*.json
build/**/*.md
build/**/*.typed
build/**/*.yaml
build/**/*.yml
build/ops.txt
**.o
**.so
eth_portfolio_temp.egg-info/
