checksum_dict>=2.1.7
dank_mids>=4.20.154
eth-brownie>=1.21.0,<1.23
eth_retry>=0.3.4,<1
evmspec>=0.4.1
ez-a-sync>=0.32.7
faster-eth-utils
numpy<3
pandas>=1.4.3,<3
typed-envs>=0.0.9
ypricemagic>=4.6.27.dev0,<5
