networks:
  eth_portfolio:

volumes:
  grafana_data: {}

services:
  grafana:
    image: grafana/grafana:10.2.0
    ports:
      - 127.0.0.1:${GRAFANA_PORT:-3000}:3000
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/portfolio/Balances.json
      - GF_SERVER_ROOT_URL
      - GF_RENDERING_SERVER_URL=http://renderer:8091/render
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
      #- GF_INSTALL_PLUGINS=volkovlabs-variable-panel
    #command: >
    #  sh -c "grafana-cli plugins install frser-sqlite-datasource && /run.sh"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./.grafana/:/etc/grafana/provisioning/
    networks:
      - eth_portfolio
    restart: always

  renderer:
    image: grafana/grafana-image-renderer:latest
    ports:
      - 127.0.0.1:${RENDERER_PORT:-8091}:8091
    environment:
      - ENABLE_METRICS=true
      - HTTP_PORT=8091
    networks:
      - eth_portfolio
    restart: always
  
  vmagent:
    image: victoriametrics/vmagent:heads-public-single-node-0-g52eb9c99e
    volumes:
      - ../victoria/:/etc/prometheus/
    command:
      - "-promscrape.config=/etc/prometheus/prometheus.yml"
      - "-remoteWrite.url=http://victoria-metrics:8428/api/v1/write"
    depends_on:
      - victoria-metrics
    networks:
      - eth_portfolio
    restart: always

  victoria-metrics:
    image: victoriametrics/victoria-metrics:v1.81.1
    volumes:
      - ~/.eth-portfolio/data/victoria/:/victoria-metrics-data
    command:
      - "-retentionPeriod=10y"
      - "-search.disableAutoCacheReset=true"
    ports:
      - 127.0.0.1:${VICTORIA_PORT:-8428}:8428
    networks:
      - eth_portfolio
    restart: always

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    command:
      - "--path.rootfs=/host"
    networks:
      - eth_portfolio
    volumes:
      - "/:/host:ro,rslave"
    restart: always
