name: Deploy docs

on:
  workflow_dispatch:
  push:
    branches: [main, master]
    paths:
      - '**/*.py'
      - '**/*.pyi'
      - 'tests/**'
      - 'pyproject.toml'
      - 'pytest.ini'
      - 'setup.cfg'
      - 'setup.py'
      - 'tox.ini'
      - 'requirements*.txt'
      - 'poetry.lock'
      - '.github/workflows/deploy_docs.yaml'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'poetry'

    - name: Install dependencies
      run: poetry install --no-root

    - name: Install package
      run: poetry install

    - name: Build docs
      run: poetry run make -C docs html

    - name: Publish docs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build/html
